altair
asttokens
attrs
beautifulsoup4
blinker
cachetools
certifi
charset-normalizer
click
colorama
comm
debugpy
decorator
executing
frozendict
gitdb
GitPython
html5lib
idna
ipykernel
ipython
jedi
Jinja2
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
lxml
markdown-it-py
MarkupSafe
matplotlib-inline
mdurl
multitasking
nest-asyncio
numpy
packaging
pandas
parso
peewee
pillow
platformdirs
plotly
prompt_toolkit
protobuf
psutil
pure_eval=
pyarrow
pydeck
Pygments
python-dateutil
pytz
pywin32
pyzmq
referencing
requests
rich
rpds-py
scipy
six
smmap
soupsieve
stack-data
streamlit
tenacity
threadpoolctl
toml
toolz
tornado
traitlets
typing_extensions
tzdata
urllib3
watchdog
wcwidth
webencodings
yfinance
